.custom-alert {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1010;
}

.custom-alert-error {
    background-color: red;
    color: white;
}

.custom-alert-info {
    background-color: blue;
    color: white;
}

.custom-alert-success {
    background-color: green;
    color: white;
}
